gtest/

*.suo
*.user

[Dd]ebug/
[Rr]elease/

ipch/
*.aps
*.ncb
*.opensdf
*.sdf

*.obj
*.tlog
*.log

*.pdb

Thumbs.db

CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Testing/
cmake_install.cmake
*.manifest
*.manifest.res
*.resource.txt
*.ilk
